/* Author: Aswathy */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	line-height: 1.5;
}

.container {
	margin-left: auto;
	margin-right: auto;
	min-width: 0;
}

.placement_img {
	width: 50%;
}

.banner {
	background-image: url("../image/academy-banner.jpg");
	background-size: cover;
	background-color: #bcc2cadc;
	width: 100%;
	height: 100vh;
	color: #1e2531;
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	text-align: right;
	font-size: 60px;
	padding-right: 60px;
	gap: 40px;
}

.banner_head {
	width: 50%;
}

.part {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 80px;
}

.placement {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	position: relative;
	padding: 60px 100px;
}

.placement_point {
	margin-left: -100px;
}

.point {
	color: rgb(97, 194, 233);
	font-size: 28px;
	padding: 15px 30px;
	background-color: #1e2531;
	font-weight: bolder;
}

.point::before {
	content: "{";
	color: #ff008c;
}
.point::after {
	content: "}";
	color: #ff008c;
}

.part_content {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	text-align: center;
	width: 80%;
}

.courses {
	background-image: url("../image/modulebg.jpg");
	background-size: contain;
	width: 100%;
	height: 90vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2%;
	padding: 13% 5%;
	margin-bottom: 50px;
}

.courses div {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.596);
	padding: 10px 70px;

	border-radius: 10px;
}

.test {
	width: 100%;
	height: 65vh;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.test_div1 {
	width: 50%;
	background-image: url("../image/testsbg.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.test_div2 {
	width: 50%;
	background-image: url("../image/intrvwbg.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	background-color: rgba(6, 8, 11, 0.7);
	width: 90%;
	height: 85%;
	color: #fff;
	font-size: 18px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 150px;
}

.join {
	margin-top: 8%;
	height: 100vh;
	width: 100%;
	text-align: center;
}

.join_container {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}

.join_container h1 {
	font-size: 45px;
	font-family: sans-serif;
	font-weight: 700;
	color: #181e22;
}

.button_div {
	display: inline-block;
	color: #f26422;
	border: solid 2px;
	padding: 10px 20px;
	font-size: 100%;
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	margin: 20px;
}

.end {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
}

.end_container {
	display: flex;
	flex-direction: column;
	width: 25%;
}

.end_container p {
	color: #51565f;
}
.descrip {
	margin: 10px 0;
}

.copyright {
	text-align: center;
}

@media screen and (max-width: 972px) and (min-width: 345px) {
	.container {
		min-width: 0;
		width: 100%;
	}
	.banner {
		background-image: url("../image/academy-banner.jpg");
		background-size: contain;
		background-repeat: no-repeat;
		font-size: 24px;
	}

	.placement_img {
		width: 100%;
	}

	.placement {
		display: block;
		padding: 45px 50px;
	}

	.placement_point {
		margin-left: 0;
		margin-bottom: 10px;
	}

	.point {
		font-size: 14px;
	}

	.courses div {
		padding: 10px 45px;
	}
	.test {
		height: fit-content;
	}

	.test_div1,
	.test_div2 {
		display: block;
		width: 100%;
	}
	.content {
		width: 100%;
	}

	.join {
		display: block;
	}

	.join_container {
		display: block;
	}

	.join_container h1 {
		font-size: 35px;
	}
	.end_container {
		width: 40%;
		gap: 20px;
	}
	.end {
		flex-direction: column;
	}
}
